<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>TaDa Sign In</title>
  </head>
  <body>
      <form name="form" method="post">
      Email: <input type="text" id="email"><label for="email" id="email-label" title = "If you use SNUmail, your email should be user@snu.ac.kr">!</label>
      <br>
      Password: <input type="password" id="password"><label id="password-label"></label>
      <br>
      </form>
      <input type="button" value="Sign In" (click) = "onclickSignIn()">
  </body>
</html>
