<!-- go to main page -->
<ul class="navbar navbar-dark bg-dark fixed-top">
  <div class="right-nav-items">
      <a routerLink="/"> 소소하고 확실한 알바 </a>
      <div *ngIf="userService.isLoggedIn(); then loginBlock; else notLoginBlock"></div>

      <!-- if user is logged in -->
      <ng-template #loginBlock>
        <button (click)="alarm(content)">
          <i class="fas fa-bell"></i>
        </button>
        <button routerLink="/message">채팅</button>
        <button (click)="logOut()">로그아웃</button>
        <button (click)="toUserPage()">마이페이지</button>
      </ng-template>

      <!-- if user is not logged in -->
      <ng-template #notLoginBlock>
        <button routerLink="/signup">회원가입</button>
        <button routerLink="/signin">로그인</button>
      </ng-template>
  </div>
</ul>


<ng-template #content let-modal>
  <div class="modal-header modals" style="display: inline-block;">
    <img src="red_clock.ico" style="height: 25px; display: inline-block;">
    <h4 class="modal-title" style="display: inline-block;">!!마감 임박!!</h4>
    <img src="red_clock.ico"  style="height: 25px; display: inline-block;">
  </div>
  <div class="modal-body modals">
  <ul>
    <li *ngFor="let post of alarm_posts">
      <a href="/post/view/{{post.id}}">{{post.title}}</a>
    </li>
  </ul>
  </div>
  <div class="modal-footer modals">
    <button type="button" class="btn btn-outline-dark" (click)="close()">Close</button>
  </div>
</ng-template>

