#my-messages-icon {
    width: 25px;
    height: 25px;
}

.modal-header {
  color: red;
  text-align: center;
  display: inline-block;
}

.modal-body li a {
  color: coral;
}
.modal-body ul {
  color: coral;
}
.modals {
  border: solid;
  border-width: 1px;
  border-color: red;
}
.modal-body {
  border-bottom: none;
}
.modal-footer {
  border-top: none;
  border-bottom-color: orangered;
}
.modal-footer button {
  border-color: red;
  color: red;
}
