<div>
  <!-- 기본 알바 정보 -->
  <div class="card-deck">
    <div  *ngIf="current_post" class="card mb-3" style="margin-left:2%;">
      <div class="card-header">알바 정보</div>
      <div class="card-body text-primary">

        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text">제목</span>
          </div>
          <input id="title" type="text" disabled [value]="current_post.title">
        </div>

        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" style="display: inline-block; height: 38px;">장소</span>
          </div>
          <input type="text" disabled [value]="current_post.region">
        </div>

        <div class="input-group mb-3">
          <div *ngIf="current_post.region === '재택'; then HomeBlock; else notHomeBlock" class="input-group-prepend"></div>
          <ng-template #notHomeBlock>
            <span class="input-group-text">(상세주소)</span>
            <input type="text" disabled [value]="current_post.region_specific" placeholder="미입력">
          </ng-template>
          <ng-template #HomeBlock>
            <span class="input-group-text">(예상 총 업무 시간)</span>
            <input type="number" disabled [value]="current_post.home_expect_time" placeholder="미입력">
          </ng-template>
        </div>


        <div *ngIf = "current_post.how_to_pay" class="input-group mb-3">
          <div *ngIf="current_post.how_to_pay === '시급'" class="input-group-prepend">
            <span class="input-group-text">(시급)</span>
            <input type="number" min="0" disabled [value]="current_post.pay_per_hour" placeholder="미입력">
          </div>
          <div *ngIf="current_post.how_to_pay === '건급'" class="input-group-prepend">
            <span class="input-group-text">(예상 시급)</span>
            <input disabled [value]="current_post.pay_per_hour" placeholder="미입력">
          </div>
          <div *ngIf="current_post.how_to_pay === '상품' || current_post.how_to_pay === '랜덤'" class="input-group-prepend">
            <span class="input-group-text">(상품)</span>
            <input type="text" disabled [value]="current_post.goods" placeholder="미입력">
          </div>
        </div>


        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" style="display: inline-block; height: 38px;">마감일</span>
            <input type="text" disabled [value]="current_post.deadline | date : 'yyyy-M-dd'">
          </div>
        </div>

        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text">내용</span>
          </div>
          <textarea id="content" disabled type="text" [value]="current_post.content"></textarea>
        </div>

        <div class="card-body" *ngIf="current_post.timezone[0]">
          <h5 class="card-title">시간대</h5>
          <div class="list-group">
            <div *ngFor="let time_zone_row of current_post.timezone; let idx = index" >
              <div class="row" *ngIf="idx % 2 === 0">
                {{current_post.timezone[idx] | date: 'yyyy-MM-dd HH:mm' }} ~
                {{current_post.timezone[idx+1] | date: 'HH:mm' }}
              </div>
            </div>
          </div>
        </div>

        <div class="custom-control" *ngIf="current_post.is_same_person">
          <label class="caution">
            <img src="caution.ico" alt="" style="height: 20px;"> 매 알바마다 같은 사람이 와야만 합니다
          </label>
        </div>

    </div>
    </div>


    <!-- 위치정보 -->
    <div *ngIf="current_post && current_post.region !== '재택'" class="card border-info mb-3" style="margin-right:2%;">
      <div class="card-header border-info" style="color: lightseagreen;">위치 정보</div>
    </div>

    <div *ngIf="post_author && post_author.company_name" class="card border-dark mb-3" style="margin-right:2%;">
      <div class="card-header border-dark" style="color: black;">회사 정보</div>
      <div class="card-body text-primary">
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text">회사명</span>
          </div>
          <input type="text" disabled [value]="post_author.company_name" placeholder="제목을 입력하세요">

        </div>
        <div class="input-group mb-3">
          <div *ngIf="post_author.company_name" class="input-group-prepend">
            <span class="input-group-text">회사명</span>
          </div>
          <input type="text" disabled [value]="post_author.company_name">

          <div *ngIf="post_author.company_address" class="input-group-prepend">
            <span class="input-group-text">회사주소</span>
          </div>
          <input type="text" disabled [value]="post_author.company_address">

          <div *ngIf="post_author.business_content" class="input-group-prepend">
            <span class="input-group-text">사업내용</span>
          </div>
          <input type="text" disabled [value]="post_author.business_content">

          <div *ngIf="post_author.representative_name" class="input-group-prepend">
            <span class="input-group-text">대표자이름</span>
          </div>
          <input type="text" disabled [value]="post_author.representative_name">

        </div>

      </div>
    </div>

 </div>
</div>

<hr>
<button (click)="ConfirmComment()">등록</button>
<button (click)="getComment()">get</button>

  <div>
    <button (click)="edit()" class="btn btn-outline-primary btn-lg">수정</button>
    <button routerLink="/post/list" class="btn btn-outline-secondary btn-lg">취소</button>
  </div>

