
{{current_post | json}}
<button routerLink="/post/list">뒤로</button>


<div class="card-deck">
  <div class="card mb-3" style="margin-left:2%;">
    <div class="card-header">기본 정보</div>
    <div class="card-body text-primary">
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text">제목</span>
        </div>
        <p>{{current_post.title}}</p>
      </div>

      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" style="display: inline-block; height: 38px;">장소</span>
        </div>
        <p>{{current_post.region}}</p>
      </div>



      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" style="display: inline-block; height: 38px;">알바유형</span>
        </div>
        <p>{{current_post.arbeit_type}}</p>
      </div>

      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" style="display: inline-block; height: 38px;">입금방식</span>
        </div>
        <p>{{current_post.how_to_pay}}</p>
      </div>


      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" style="display: inline-block; height: 38px;">마감일</span>
        </div>
        <p>{{current_post.deadline}}</p>
      </div>

      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text">내용</span>
        </div>
        <p>{{current_post.content}}</p>
      </div>

    </div>
  </div>
</div>
