@import url(//fonts.googleapis.com/earlyaccess/jejugothic.css);
@import url(//fonts.googleapis.com/earlyaccess/kopubbatang.css);
@import url(//fonts.googleapis.com/earlyaccess/hanna.css);

* {
  font-family: 'Hanna', sans-serif;
}
*:focus {
  outline: none;
}

.card {
  border: solid;
  border-color: blueviolet;
  border-width: 1.5px;
}
.card-header {
  color: blueviolet;
  border-bottom-color: blueviolet;
}
.card-title {
  color: mediumvioletred;
}
.input-group span {
  border: 1.5px solid mediumvioletred;
  border-radius: 0;
  color: mediumvioletred;
}
.input-group input {
  border: solid;
  border-color: mediumvioletred;
  border-width: 1.5px;
  padding-left: 10px;
  max-width: 50%;
  width: 50%;
}
.input-group input::placeholder {
  color: palevioletred;
}
.input-group select {
  border: solid;
  border-color: mediumvioletred;
  padding-left: 10px;
  max-width: 80%;
}
.input-group textarea {
  border: solid;
  border-color: mediumvioletred;
  border-width: 1.5px;
  padding-left: 10px;
  width: 80%;
  height: 10em;
}

.company input{
  border: solid;
  border-color: dimgray;
  border-width: 1.5px;
  padding-left: 10px;
  width: 80%;
}
.company span{
  border: 1.5px solid dimgray;
  border-radius: 0;
  color: dimgray;
}




.custom-checkbox {
  margin-top: 10px;
  margin-left: 10px;
}
.list-group {
  margin-left: 10px;
  margin-bottom: 10px;
}

.minus {
  margin-left: 5px;
  margin-right: 5px;
  height: 30px;
}
.plus {
  margin-right: 5px;
}

.btn-lg {
  margin-left: 5px;
}

.comment-card {
  border: solid;
  border-color: cornflowerblue;
  color: #5BC0DE;
}
.comment-card-header {
  border-bottom-color: cornflowerblue;
  color: #5BC0DE;
}

.comment-card span {
  border: 2px solid cornflowerblue;
  color: cornflowerblue;
}
.comment-card select {
  border: solid;
  border-color: cornflowerblue;
}
.comment-card input {
  border: solid;
  border-color: cornflowerblue;
}
.comment-card input::placeholder {
  color: lightblue;
}
.comment-card h5 {
  color: cornflowerblue;
}


.write-comment {
  display: inline-block;
  margin: 20px;
}
.write-comment input {
  border-color: #7f7f7f;
  width: 90%;
  height: 3em;
}
.write-comment button {
  margin-left: 10px;
}

.button-group button {
  border: none;
  background: none;
  color: plum;
}
.button-group button:hover {
  color: deeppink;
}

.caution {
  color: orangered;
}


.result-container {
  height: 600px;
}
.map-container {
  height: 600px;
}
.map-view {
  width: 100%;
  height: 100%;
}
