.tags a{border:1px solid #DDD;display:inline-block;color:#717171;background:#FFF;-webkit-box-shadow:0 1px 1px 0 rgba(180,180,180,0.1);box-shadow:0 1px 1px 0 rgba(180,180,180,0.1);-webkit-transition:all .1s ease-in-out;-moz-transition:all .1s ease-in-out;-o-transition:all .1s ease-in-out;-ms-transition:all .1s ease-in-out;transition:all .1s ease-in-out;border-radius:2px;margin:0 3px 6px 0;padding:5px 10px}
.tags a:hover{border-color:#08C;}
.tags a.primary{color:#FFF;background-color:#428BCA;border-color:#357EBD}
.tags a.success{color:#FFF;background-color:#5CB85C;border-color:#4CAE4C}
.tags a.info{color:#FFF;background-color:#5BC0DE;border-color:#46B8DA}
.tags a.warning{color:#FFF;background-color:#F0AD4E;border-color:#EEA236}
.tags a.danger{color:#FFF;background-color:#D9534F;border-color:#D43F3A}

#body-content {
    margin-top: 5rem;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;

}

.tag-button {
    margin-left: 10px;
    font-weight: bold;

}
.tag-time {
    background: #ff9900;
    border-color: #ff9900;
}

.tag-type {
    background: #ff5050;
    border-color: #ff5050;
}

.tag-region {
    background: #6666ff;
    border-color: #6666ff;
}


.tag-pay {
    background: #cc6699;
    border-color: #cc6699;
}