<form class="border" style="padding:20px; margin-bottom: 20px;">
  <!-- filtering with Tags -->
  <small class="help-block">
      &nbsp;*같은 종류의 태그에 대해선 OR, 다른 종류의 태그에 대해선 AND 검색이 실행됩니다.  
  </small>
  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text" id="basic-addon3">필터링 태그</span>
    </div>
    <div class="form-control" id="basic-url" style="padding: 3px" aria-describedby="basic-addon3">
      <ng-container class="col-md-4"  *ngFor="let tag of filtering_tags">
          <app-tag [justShowing]="false" (removeTag)="removeTag(tag.type, tag.index)" 
            [hasCloseButton]="true" [isSelectable]="true" [enumType]="tag.type" [enumBody]="tag.index" >
          </app-tag>
      </ng-container>
    </div>
  </div>

  <!-- Selecting Tags -->
  <div class="row"  style="border-width: 1.5px;">
    <button type="button" (click)="filter_button =1; removeTag(1,0);" class="btn tag-button tag-time">시간</button>
    <button type="button" (click)="filter_button=2" class="btn tag-button tag-type">유형</button>  
    <button type="button" (click)="filter_button=3" class="btn tag-button tag-region">장소</button>
    <button type="button" (click)="filter_button=4" class="btn tag-button tag-pay">급여</button>
    <div style="float: right; margin-left: auto;">
    <button type="button" (click)= "getMyTagInfo()" class="btn btn-primary">
      내 태그 불러오기
    </button>
    <button type="button" (click)= "clearTag()" class="btn btn-primary">
        태그 비우기
    </button>
    </div>
  </div>

  <div style="margin-top:10px" [ngSwitch]="filter_button">
      <ng-container *ngSwitchCase="1">
          <app-timeblock [isSelectable]="true" [givenDate]="timeblocks">
          </app-timeblock>
          <button type="button" class="btn btn-sm" (click)="addTag(1,0);filter_button=0;">확인</button>
      </ng-container>
      <ng-container *ngSwitchCase="2">
        <b *ngFor="let enums of arbeit_type_enum_list; let idx = index;">
          <app-tag (addTag)="addTag(2, idx)" (removeTag)="removeTag(2, idx)" 
          [justShowing]="false" [hasCloseButton]="false" [isSelectable]="!existInArray(2, idx)" [enumType]="2" [enumBody]="idx" >
          </app-tag> 
        </b>
      </ng-container>
      <ng-container *ngSwitchCase="3">
        <b *ngFor="let enums of region_enum_list; let idx = index;">
            <app-tag (addTag)="addTag(3, idx)" (removeTag)="removeTag(3, idx)" 
            [justShowing]="false" [hasCloseButton]="false" [isSelectable]="!existInArray(3, idx)" [enumType]="3" [enumBody]="idx" >
            </app-tag> 
        </b>
      </ng-container>
      <ng-container *ngSwitchCase="4">
        <b *ngFor="let enums of how_to_pay_enum_list; let idx = index;">
          <app-tag (addTag)="addTag(4, idx)" (removeTag)="removeTag(4, idx)" 
          [justShowing]="false" [hasCloseButton]="false" [isSelectable]="!existInArray(4, idx)" [enumType]="4" [enumBody]="idx" >
          </app-tag> 
        </b>
      </ng-container>
      <b *ngSwitchDefault></b>
  </div> 

    <!-- seach bar -->
    <div class="row" style="margin-top: 20px;">    
      <div class="col-sm-6 col-md-6 float-left">
		    <div class="input-group">
          <select #search_criteria name="search_criteria">
            <option value="0" selected="selected">제목</option>
            <option value="1">내용</option>
            <option value="2">제목+내용</option>
          </select>  
          <input type="text" class="form-control" #search_keyword name="search_keyword" placeholder="검색어를 입력하세요">
          <button class="btn btn-primary" type="button" (click)="onClickSearch(search_keyword.value, search_criteria.value)">검색</button>        
        </div>
      </div>
      <div class="col-sm-2 col-md-2">
      </div>

        <!--sorting buttons-->
      <div class="col-sm-4 col-md-4" style="float: right; margin-left: auto;">
      <div class="btn-group btn-group-toggle">
          <button (click)= "sort(0)" class="btn btn-dark">최신순</button>
          <button (click)= "sort(1)" class="btn btn-dark">시급순</button>
          <button (click)= "sort(2)" class="btn btn-dark">마감일순</button>
      </div>
      </div>
	  </div>
</form>

<!-- Table -->
<div>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>글 번호</th>
        <th>제목</th>
        <th>작성자</th>
        <th>장소</th>
        <th>유형</th>
        <th>급여</th>
        <th>기간</th>
        <th>등록일자</th>
      </tr>
    </thead>
    <tbody>
      <tr [routerLink]="'/post/view/'+post.id" *ngFor="let post of posts_filtered; let idx = index;"
          [ngStyle]= "post.is_magam_timeout || post.is_magam_user ? {'opacity':0.5}: {}">
        <td>{{idx+1}}</td>
        <td>{{post.title}}</td>
        <td>{{post.author_name}}</td>
        <td>{{post.region}}</td>
        <td>{{post.arbeit_type}}</td>
        <td>{{post.pay_per_hour}}</td>
        <td>아직 개발중</td>
        <td>{{post.register_date | date: 'yyyy.MM.d'}}</td>
      </tr>
      <tr *ngIf="posts_filtered.length == 0">
        <td colspan="9" style="text-align: center">검색결과가 없습니다!</td>
      </tr>
    </tbody>
  </table>
</div>

<button type="button" style="float: right; margin-left: auto;" routerLink="/post/create" class="btn btn-primary">작성하기</button>