<div class="container">
  <div class="card">
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        <div class="form-group row">
          <label class="col-sm-1 col-form-label font-weight-bold">지역</label>
          <div class="col-sm-5">
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
              <label class="form-check-label" for="inlineCheckbox1">서울대입구</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
              <label class="form-check-label" for="inlineCheckbox2">낙성대</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="option3">
              <label class="form-check-label" for="inlineCheckbox3">교내</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="checkbox" id="inlineCheckbox4" value="option4">
              <label class="form-check-label" for="inlineCheckbox4">녹두</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="checkbox" id="inlineCheckbox5" value="option5">
              <label class="form-check-label" for="inlineCheckbox5">기타</label>
            </div>
          </div>

          <label class="col-sm-2 col-form-label font-weight-bold">아르바이트 타입</label>
          <div class="col-sm-4">
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="checkbox" id="inlineCheckbox6">
              <label class="form-check-label" for="inlineCheckbox6">멘토링</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="checkbox" id="inlineCheckbox7">
              <label class="form-check-label" for="inlineCheckbox7">과외</label>
            </div>
          </div>
        </div>
            <label id="timezone" class="font-weight-bold">시간대</label>
            
            <!--already selected time zone-->
            <div *ngFor = "let time of filter_timeArray; let index = index;">          
              <select class="day_select" [(ngModel)]="time.day">
                <option value = "undefined">undefined </option>
                <option *ngFor="let i of iter(7)" [ngValue]="i">
                  {{this.timezoneService.dayArray[i]}}</option>
              </select>
              <select class="time_select" [(ngModel)]="time.start.hour">
                <option *ngFor="let i of iter(24)" [ngValue]="i">{{i}}</option>
              </select>
              :
              <select class="time_select" [(ngModel)]="time.start.minute">
                <option *ngFor="let i of iter(6)" [ngValue]="i">
                  {{this.timezoneService.minuteArray[i]}}</option>
              </select>
              -
              <select class="time_select" [(ngModel)]="time.end.hour">
                <option *ngFor="let i of iter(24)" [ngValue]="i">{{i}}</option>
              </select>
              :
              <select class="time_select" [(ngModel)]="time.end.minute">
                <option *ngFor="let i of iter(6)" [ngValue]="i">
                  {{this.timezoneService.minuteArray[i]}}</option>
              </select>
              <button (click)="remove_timezone(index)" class="btn btn-sm btn-dark"> - </button>
            </div>
            
            <!-- new input of time select -->
            <select class="day_select" [(ngModel)]="filter_day">
              <option value = "undefined">undefined </option>
              <option *ngFor="let i of iter(7)" [ngValue]="i">
                {{this.timezoneService.dayArray[i]}}</option>
            </select>
            <select class="time_select" [(ngModel)]="filter_start_hour">
              <option *ngFor="let i of iter(24)" [ngValue]="i">{{i}}</option>
            </select>
            :
            <select class="time_select" [(ngModel)]="filter_start_min">
              <option *ngFor="let i of iter(6)" [ngValue]="i">
                {{this.timezoneService.minuteArray[i]}}</option>
            </select>
            -
            <select class="time_select" [(ngModel)]="filter_end_hour">
              <option *ngFor="let i of iter(24)" [ngValue]="i">{{i}}</option>
            </select>
            :
            <select class="time_select" [(ngModel)]="filter_end_min">
              <option *ngFor="let i of iter(6)" [ngValue]="i">
                {{this.timezoneService.minuteArray[i]}}</option>
            </select>
            <button (click)="add_timezone()" class="btn btn-sm btn-dark"> + </button>
  
      </li>
      <li class="list-group-item">
        <div class="form-group row">
          <label for="exampleInputText1" class="col-sm-1 col-form-label font-weight-bold">검색어</label>
          <div class="col-sm-3">
            <input type="text" class="form-control-plaintext" [(ngModel)]="search_keyword" id="search_keyword" placeholder="검색어를 입력하세요">
          </div>
          <select class="form-control col-sm-1" [(ngModel)]="search_criteria">
            <option value="제목">제목</option>
            <option value="내용">내용</option>
            <option value="제목+내용">제목+내용</option>
          </select>
          <div class="col-sm-4"></div>
          <button class="btn col-sm-2 btn-sm btn-outline-primary" (click)="search()">검색</button>
        </div>
      </li>
    </ul>
  </div>
  <div class="btn-group btn-group-toggle float-right">
    <button (click)= "sort(0)" class="btn btn-sm btn-dark">최신순</button>
    <button (click)= "sort(1)" class="btn btn-sm btn-dark">시급순</button>
    <button (click)= "sort(2)" class="btn btn-sm btn-dark">별점순</button>
  </div>
  <div>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>글 ID</th>
          <th>제목</th>
          <th>글쓴이</th>
          <th>시급</th>
          <th>star</th>
          <th>register_date</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let post of dataToShow">
          <td>{{post.id}}</td>
          <td [routerLink]="'./'+post.id">{{post.title}}</td>
          <td>{{getAuthorNameByID(post.author_id)}}</td>
          <td>{{post.pay}}</td>
          <td>{{post.star}}</td>
          <td>{{post.register_date}}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div>
    <button routerLink="./create" class="btn btn-lg btn-info float-right mt-3 mb-3" id="create-article-button">Write</button>
  </div>
</div>
