<h3 class="display-3" style="TEXT-ALIGN: center">
  T <small class="text-muted">rivial</small>
  A <small class="text-muted">and</small>
  D <small class="text-muted">efinite</small>
  A <small class="text-muted">lba</small>
</h3>
<div class="row">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">TADA Bulletin</h5>
        <p class="card-text">You can see new posts on arbeit near SNU.</p>
        <button type="button" routerLink="/post/list" class="btn btn-primary">Go to Bulletin!</button>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">TADA Scheduler</h5>
        <p class="card-text">You can schedule by your own</p>
        <button type="button" routerLink="/scheduler" class="btn btn-primary">Go to Scheduler!</button>
      </div>
    </div>
  </div>
</div>
