
<div class="row">
<div class="col-sm-1"></div>
<div class="col-sm-10">
  <h1 class="display-3" style="TEXT-ALIGN: center">
    <b>소소하고 <br>확실한 <br> 알바&nbsp;</b>
    <i class="fas fa-hand-holding-usd" style="font-size: 1em;"></i>
  </h1>
  <br>
  <br>
  <br>
  <div class="row">
    <div class="col-sm-6">
        <div class="card">
            <div class="card-body">
              <h5 class="card-title">TADA 게시판</h5>
              <p class="card-text">학교 주변의 아르바이트, 근로장학생, 설문, 강연 등 단기 알바 정보가 올라옵니다!</p>
              <button type="button" routerLink="/post/list" class="btn btn-primary">게시판으로 가기</button>
            </div>
          </div>  
    </div>
    <div class="col-sm-6">

      <div class="card">
          <div class="card-body">
            <h5 class="card-title">TADA 스케줄러</h5>
            <p class="card-text">비는 시간을 입력하면 주어진 시간 안에 가장 돈을 많이 버는 효율적인 일정을 찾아줍니다!</p>
            <button type="button" routerLink="/scheduler" class="btn btn-primary">스케줄러로 가기</button>
          </div>
      </div>
    </div>
  </div>
</div>
<div class="col-sm-1"></div>
</div>
