<br>
<br>
<div style="text-align:center">
<h2>회원가입 유형</h2>
</div>
<br>
<div style="text-align:center" class="container">
  <div class="grid">
    <div class="grid__column">
      <div class="card card--outlined card--primary color-primary">
        <div class="card__content" (click)="onClickSignUpEmployee()">
          Employee
        </div>
      </div>
    </div>
    <div class="grid__column">
      <div class="card card--outlined card--secondary color-secondary">
        <div class="card__content" (click)="onClickSignUpEmployer()">
          Employer
        </div>
      </div>
    </div>
  </div>
</div>

