<div class="scheduler-form">
  
  <div *ngIf="start_time">
    <form class="form-inline">
      <div class="form-group">
        <div class="input-group2">
          <input class="form-control" placeholder="날짜"
            name="dp" [(ngModel)]="start_time" ngbDatepicker #d1="ngbDatepicker">
          <button class="btn btn-outline-secondary" (click)="d1.toggle()" type="button">
            <img src="calendar.ico" style="width: 1.2rem; height: 1rem; cursor: pointer;"/>
          </button>
          <select name="start_h" [(ngModel)]="time_zone_hm[0]">
            <option *ngFor="let i of iter(24)" [ngValue]="i">{{i}}</option>
          </select>
          <select name="start_m" [(ngModel)]="time_zone_hm[1]">
            <option *ngFor="let i of iter_minute(60)" [ngValue]="i">{{i}}</option>
          </select>
        </div>
        <p class="font-weight-bold" style="font-size: 30px; padding-right: 2px;">~</p>
        <div class="input-group2">
          <input class="form-control" placeholder="날짜"
            name="dp" [(ngModel)]="end_time" ngbDatepicker #d2="ngbDatepicker">
            <button class="btn btn-outline-secondary" (click)="d2.toggle()" type="button">
              <img src="calendar.ico" style="width: 1.2rem; height: 1rem; cursor: pointer;"/>
            </button>
          <select name="end_h" [(ngModel)]="time_zone_hm[2]">
            <option *ngFor="let i of iter(24)" [ngValue]="i">{{i}}</option>
          </select>
          <select name="end_m" [(ngModel)]="time_zone_hm[3]">
            <option *ngFor="let i of iter_minute(60)" [ngValue]="i">{{i}}</option>
          </select>
        </div>
      </div>
    </form>
  </div>
  <button class="btn btn-outline-secondary plus" (click)="onClickSearchButton()" style="margin-bottom: 10px;">찾기!</button>
</div>

<div class="result-container">
<div class="row">
  <span class="col-sm-6 map-container">
    <agm-map class="map-view" [latitude]="center_latitude" [longitude]="center_longitude" [zoom] = "map_zoom">
      <agm-polyline *ngFor="let value of post_list;let i = index;" [strokeOpacity]="0.8" [strokeWeight]="5" [zIndex]="" [strokeColor]="'blue'">
        <agm-polyline-point [latitude]="value.latitude" [longitude]="value.longitude"> </agm-polyline-point>
        <ng-container *ngIf="post_list[i+1]">
          <agm-polyline-point [latitude]="post_list[i+1].latitude" [longitude]="post_list[i+1].longitude"> </agm-polyline-point>
        </ng-container>
      </agm-polyline>
      <agm-marker *ngFor="let value of post_list; let i = index;" [latitude]="value.latitude" [longitude]="value.longitude" label="{{i+1}}"></agm-marker>
    </agm-map>
  </span>

  <span class="col-sm-6" *ngIf="expected_gain > 0">
    <h2>이렇게 하면 {{expected_gain}}원을 벌 수 있어요!</h2>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>번호</th>
          <th>제목</th>
          <th>작성자</th>
          <th>장소</th>
          <th>유형</th>
          <th>급여</th>
          <th>시간</th>
        </tr>
      </thead>
      <tbody>
        <tr class="clickable" [routerLink]="'/post/view/'+result.post.id" *ngFor="let result of view_result; let idx = index;">
          <td>{{idx+1}}</td>
          <td>{{result.post.title}}</td>
          <td>{{result.post.author_name}}</td>
          <td>{{result.post.region}}</td>
          <td>{{result.post.arbeit_type}}</td>
          <td>{{result.post.pay_per_hour}}</td>
          <td>{{getTimeString(idx)}}</td>
        </tr>
      </tbody>
    </table>
  </span>
  <span class="col-sm-6" *ngIf="expected_gain === 0"> 결과가 없습니다. </span>
</div>
</div>
