<div *ngIf="post">
    <div class="card w-80">
        <h5 class="card-header">Arbeit Post # {{post.id}}</h5>
        <div class="card-body">
            <h2 class="card-title">{{post.title}}</h2>
            <div class="row">
            <!-- Some properties of post-->
                <div class="col-sm-6">
                    <div class="card w-40">
                        <div class="card-body">
                            <label class = "font-weight-bold">Region</label>: {{post.region}}
                            <label class = "font-weight-bold">Type</label>: {{post.arbeit_type}}
                            <label class = "font-weight-bold">Pay</label>: {{post.pay}}
                            <p class="card-text">Time Zone</p>
                            <div *ngFor= "let time of post.time_zone">
                                <p>{{time}}</p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Employer information -->
                <div class="col-sm-6">
                    <div class="card w-40">
                        <div class="card-body">
                            <h5 class="card-title">Employer Information</h5>
                            <p class="card-text"> Company name</p>
                            <p class="card-text"> Company address</p>
                            <p class="card-text"> simple Explanation </p>
                            <a href="#" class="btn btn-primary">Look more about this compan</a>
                        </div>
                    </div>
                </div>
            </div>            
            <p class="card-text">{{post.content}}</p>
            
            <!--manager information-->
            <div class="card w-90">
                <div class="card-body">
                    <p class="card-text"> Manager name: {{post.manager_name}}</p>
                    <p class="card-text"> Manager phone number: {{post.manager_phone}}</p>    
                </div>
            </div>
		</div>
	</div>
</div>
