<h5 class="card-header">Arbeit Post #{{post.id}}</h5>
<!--arbeit post itself-->
<div *ngIf="post">
    <div class="row">
        <div class="leftcolumn"> 
            <div class="card">
                <h2 class="card-title">{{post.title}}</h2>
                        <!-- Some properties of post-->
                    <div class="card">
                        <div class="row">
                            <div class="col-sm-6">
                                <label class = "font-weight-bold">Region</label>: {{post.region}}<br>                                            <label class = "font-weight-bold">Detail Address</label>addresss<br>
                                <label class = "font-weight-bold">Detail Address</label>: addresss<br>
                                <label class = "font-weight-bold">Type</label>: {{post.arbeit_type}}<br>
                                <label class = "font-weight-bold">Pay</label>: {{post.pay}}<br>
                                <label class = "font-weight-bold">Time Zone</label>
                                <div *ngFor= "let time of post.time_zone">
                                    <p>{{this.timezoneService.format(time)}}</p>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="fakeimg" padding="100px">Map</div>
                            </div>                                          
                        </div>
                    </div>
                <div class = "card-body">
                <p class="card-text">{{post.content}}</p>          
                <!--manager information-->
                <label class = "font-weight-bold">Inquiry to Manager</label>
                <label class = "font-weight-bold">Name:</label> {{post.manager_name}} <br>
                <label class = "font-weight-bold">Phone:</label>{{post.manager_phone}}    
                </div>
            </div>
        </div>
        <div class="rightcolumn">
            <div class="card">
                <h4>Employer Information</h4>
                <label class = "font-weight-bold">Company name</label><br>
                <label class = "font-weight-bold">Company address</label>
                <p class="card-text"> simple Explanation </p>
                <a href="#" class="btn btn-primary">Look more about this company</a>
            </div>
            <div class="card">
                <h4>Banner comes here</h4>
                <div class="fakeimg">Image</div><br>
                <div class="fakeimg">Image</div><br>
                <div class="fakeimg">Image</div>
            </div>
        </div>
    </div>
</div>
<button type="button" float="left" (click)="back()" class="btn btn-secondary">Back</button>
<button type="button" float="right" (click)="edit()" class="btn btn-secondary">Edit</button>
<button type="button" float="right" (click)="delete()" class="btn btn-secondary">Delete</button>
