<div class="card" style="border-style: double">
  <div class="card-body">
    <div class="row">          
      <div class="col-sm-3">
        <i class="fas fa-building" style="font-size: 8em; margin: 10px"></i>
      </div>
      <div class = "col-sm-9">
        <h3 class="card-title">{{user.company_name}}</h3>
        <hr>
        <b class="card-text">회사 주소&nbsp;&nbsp;&nbsp;</b>{{user.company_address}}
        <br>
        <b class="card-text">회사 설명&nbsp;&nbsp;&nbsp;</b>{{user.business_content}}
        <br>
        <b class="card-text">사업자등록번호&nbsp;&nbsp;&nbsp;</b>{{user.employer_license_number}}
        <br>
        <b class="card-text">대표 이름&nbsp;&nbsp;&nbsp;</b>{{user.representative_name}}
        <br>
        <button [hidden]="isMyPage" style="float: right; margin-left: auto;" (click)="sendMessage()" class="btn btn-primary">메세지 보내기</button>
        <button [hidden]="!isMyPage" style="float: right; margin-left: auto;" (click)="edit(modalEmployer)" class="btn btn-primary">내 정보 수정</button>
      </div>
    </div>
  </div>
</div>



<!-- Modal window for editing employee information -->

<ng-template #modalEmployer let-modal>
    <div class="modal-header modals" style="display: inline-block;">
      <h4 class="modal-title" style="text-align: center;display: inline-block;">내 정보 수정</h4>
    </div>
    <div class="modal-body modals">
        <form>
            <div class="form-group row">
                <label for="inputEmail3" class="col-sm-3 col-form-label">회사 주소</label>
                <div class="col-sm-9">
                  <input type="email" class="form-control" name="nickname" [(ngModel)]="user.company_address">
                </div>
            </div>
            <div class="form-group row">
              <label for="inputEmail3" class="col-sm-3 col-form-label">회사 설명</label>
              <div class="col-sm-9">
                <input type="email" class="form-control" name="email" [(ngModel)]="user.business_content">
              </div>
            </div>
            <div class="form-group row">
                <label for="inputEmail3" class="col-sm-3 col-form-label">사업자<br>등록번호</label>
                <div class="col-sm-9">
                  <input type="email" class="form-control" name="email" [(ngModel)]="user.employer_license_number">
                </div>
            </div>
            <div class="form-group row">
                <label for="inputEmail3" class="col-sm-3 col-form-label">대표 이름</label>
                <div class="col-sm-9">
                  <input type="email" class="form-control" name="email" [(ngModel)]="user.representative_name">
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer modals">
      <button type="button" class="btn btn-outline-dark" (click)="close()">창 닫기</button>
      <button type="button" class="btn btn-outline-dark" (click)="confirm()">저장</button>
    </div>
  </ng-template>
    