#talkjs-container {
    height: 505px;
    margin-top: 1%;
    text-align: center;
}

.divider {
    width: 95%;
}

.container-title {
    text-align: center;
    font-weight: 600;
}

body{padding-top:20px;}

/*.pnx-msg-icon pnx-icon-msg-warning {
    width: 24px !important;
    height: 24px !important;
}


.fas .fa-id-card {
    width: 100px !important;
    height: 40px !important;
}*/