<!-- make margin to both side -->
<div class="row">          
  <div class="col-sm-1"></div>
  <div class="col-sm-10">

    <!-- Profile Card -->
    <div *ngIf = "is_employee">
      
    </div>
    <div *ngIf="user" class="card" style="border-style: double">
      <div class="card-body">
        <div class="row">          
          <div class="col-sm-3">
            <i class="fas fa-id-card" style="font-size: 8em; margin: 10px"></i>
          </div>
          <div class = "col-sm-9">
            <h3 class="card-title">{{user_name}}</h3>
            <hr>
            <b class="card-text">이메일 주소&nbsp;&nbsp;&nbsp;</b>{{user.email}}
            <br>
            <b class="card-text">선호 태그&nbsp;&nbsp;&nbsp;</b>
            <br>
            <ng-container *ngFor="let tag of tag_list">
              <app-tag [justShowing]="true" [hasCloseButton]="false" [isSelectable]="false" [enumType]="tag.type" [enumBody]="tag.index" >
              </app-tag> 
            </ng-container>
            <br>
            <button [hidden]="isMyPage()" style="float: right; margin-left: auto;" (click)="sendMessage()" class="btn btn-primary">메세지 보내기</button>
            <button [hidden]="!isMyPage()" style="float: right; margin-left: auto;" (click)="gotoEdit()" class="btn btn-primary">내 정보 수정</button>
          </div>
        </div>
      </div>
    </div>

    <!-- the posts-->
    <div *ngIf="post_list" class="card" style = "margin-top:20px;margin-bottom: 20px">
      <div class="card-header">
        <b>{{user_name}}</b>이/가 쓴 글
      </div>
      <ul class="list-group list-group-flush" *ngFor="let post of post_list;">
        <li [routerLink]="'/post/view/'+post.id" style="padding: 3px" class="list-group-item">
          <small>&nbsp;{{post.register_date | date: 'yyyy.MM.d'}}&nbsp;&nbsp;</small>{{post.title}}
          <ng-container class="col-md-4" *ngFor="let tag of this.postService.makePostTags(post);">
            <app-tag [justShowing]="true" [hasCloseButton]="false" [isSelectable]="false" [enumType]="tag.type" [enumBody]="tag.index">
            </app-tag>
          </ng-container>      
        </li>
      </ul>
    </div>

    <!-- the comments-->
    <div *ngIf="comment_list" class="card" style="margin-top:20px;margin-bottom: 20px" 
    data-toggle="tooltip" data-placement="top" title="댓글을 클릭하면 해당 게시글로 이동합니다.">
        <div *ngIf="is_employee" class="card-header">
          <b>{{user_name}}</b>이/가 쓴 댓글
        </div>
        <div *ngIf="!is_employee" class="card-header">
            <b>{{user_name}}</b>에게 달린 댓글
        </div>
        <ul class="list-group list-group-flush" *ngFor="let comment of comment_list">
          <li [routerLink]="'/post/view/'+comment.post_id" style="padding:3px" class="list-group-item">
            <small>&nbsp;{{comment.register_date | date: 'yyyy.MM.d'}}&nbsp;&nbsp;</small>
            {{getPostTitle(comment.post_id)}}
            <br>
            <ng-container *ngFor="let i of commentService.iter(comment.star)">
              <i class="fas fa-star"></i>
            </ng-container>
            <ng-container *ngIf="comment.star%1 == 0.5">
              <i class="fas fa-star-half-alt"></i>
            </ng-container>
            {{comment.content}}  
          </li>
        </ul>
      </div>
  </div>
  <div class="col-sm-1"></div>
</div>