<form class="row">
<div class="col-sm-1"></div>
    
<div class="col-sm-10">
<div class="card text-center">
    <div class="card-header">
        <ul class="nav nav-tabs card-header-tabs">
        <li class="nav-item">
            <button [ngClass]="as_employee ? 'nav-link active': 'nav-link'" (click)="as_employee = true">알바생 계정</button>
        </li>
        <li class="nav-item">
            <button [ngClass]="!as_employee ? 'nav-link active': 'nav-link'" (click)="as_employee = false">회사 계정</button>
        </li>
        </ul>
    </div>
    <div class="card-body">
        <div class = "row">
        <div class="col-sm-1"></div>
        <div class="col-sm-10">
          <!-- Email field -->
        <div class="form-group row">
            <label for="InputEmail"> <b>Email 주소</b></label>&nbsp;&nbsp;         
            <input type="email" class="form-control" name="email" aria-describedby="emailHelp" 
                [(ngModel)]="signup_user.email" #email="ngModel" (ngModelChange)="check_email = false;">
            <button style="margin-top:8px"  type="button" class="btn btn-secondary" name="check_email" (click)="onClickcheckDuplicateEmail()" [disabled]="check_email">
                    {{check_email? "확인 완료": "중복체크"}} 
            </button>        

        </div>
        <br>
        <!-- Password and Confirmation field -->
        <div class="row">
            <div class="col">
                <!-- PW field -->
                <div class="form-group row">
                    <label for="InputPassword"><b>비밀번호</b></label>
                    <input type="password" class="form-control" name="password"
                        [(ngModel)]="signup_user.password" #password="ngModel" required maxlength="20">
                    <small class="help-block" *ngIf="(password.touched || password.dirty) && !validatePassword()">
                        비밀번호는 8자 이상으로, 영문과 숫자가 섞여있어야 합니다. 
                    </small>
                </div>
            </div>
            &nbsp;&nbsp;
            <div class="col">
                <!-- PW confirmation field -->
                <div class="form-group row">
                    <label for="InputPassword"><b>비밀번호 확인</b></label>
                    <input type="password" class="form-control" name="password_confirm"
                        [(ngModel)]="password_confirm" #passwordConfirm="ngModel" required>
                    <small class="help-block" *ngIf="(passwordConfirm.touched || passwordConfirm.dirty) && signup_user.password !== password_confirm">
                    비밀번호가 일치하지 않습니다. 
                    </small>
                </div>
            </div>
        </div>
        <br>
        <!-- Nickname field. Only for Employee -->
        <div *ngIf="as_employee" class="form-group row">
            <label for="InputNickname"> <b>닉네임</b> </label> &nbsp; &nbsp;
            <input type="text" class="form-control" name="nickname" aria-describedby="nicknameHelp" 
                [(ngModel)]="signup_user.nickname" #nickname="ngModel" (ngModelChange)="check_nickname = false;">
                <button style="margin-top:8px"  type="button" class="btn btn-secondary" (click) = onClickcheckDuplicateNickname() [disabled]="check_nickname">
                        {{check_nickname? "확인 완료": "중복 체크"}} 
                </button>
        </div>

        <!-- company name field. Only for Employer -->
        <div *ngIf="!as_employee" class="form-group row">
            <label for="InputNickname">  <b>회사명</b> </label>
            <input type="text" class="form-control" name="company_name" aria-describedby="nicknameHelp" 
                [(ngModel)]="signup_user.company_name" #company_name="ngModel">
        </div>
        <br>
        <br>
        <button (click)=onClickConfirm() style="border-color:#004080; background-color:#004080;"  id="signup" class="btn btn-primary btn-lg btn-block">회원 가입</button>
        </div>
        <div class="col-sm-1"></div>

    </div>
</div>
</div>
</div>
<div class="col-sm-1"></div>
</form>
