<div>
  <h5 class="card-header">알바구인 글쓰기</h5>
  <input id="title" type="text" [(ngModel)]="title" placeholder="제목을 입력하세요">


    <div class="card-deck">

      <div class="col-sm-6">
        <div class="card w-40">
          <div>
            <label id="arbeit_type" class="font-weight-bold">알바 유형</label>
            <select [(ngModel)]="arbeit_type">
                <option value="멘토링">멘토링</option>
                <option value="과외">과외</option>
                <option value="IT">IT</option>
                <option value="카페 알바">카페 알바</option>
                <option value="디자인 알바">디자인 알바</option>
              </select>
            <!--
            <select [(ngModel)]="arbeit_type">
              <option *ngFor="let i of 'getEnumList(ArbeitTypeEnum)'" [ngValue]="i">{{i}}</option>
            </select>
            -->
          </div>
          <div>
            <label id="region" class="font-weight-bold">지역</label>
            <select required [(ngModel)]="region">
              <option value="교내">교내</option>
              <option value="설입">설입</option>
              <option value="낙대">낙대</option>
              <option value="녹두">녹두</option>
            </select>
            <label>지도로 위치 표시</label>
          </div>
          <div class="number-wrapper">
            <label id="pay" class="font-weight-bold">시급</label>
            <input id="pay-input" type="number" step="1" [(ngModel)]="pay">
            <label>원</label>
          </div>
          <div>

          </div>
        </div>
      </div>


    <div class="col-sm-6">
      <div class="card w-40">
        <label id="content">내용</label>
        <textarea [(ngModel)]="content" placeholder="업무 내용, 상세주소 등등"></textarea>
      </div>
    </div>

      <div class="col-sm-6">
        <div class="card w-40">
          <div>
            <label id="manager_name" class="font-weight-bold">담당자 이름</label>
            <input [(ngModel)]="manager_name" type="text">
          </div>
          <div>
            <label id="manager_phone" class="font-weight-bold">담당자 폰번호</label>
            <input [(ngModel)]="manager_phone" type="text">
          </div>
        </div>
      </div>

      <div id="picture_upload" class="col-sm-6">
        <div class="card w-40">
          <div>
            <label class="font-weight-bold">사진 첨부</label>
            <input style="display: none"
              type="file" (change)="onFileChanged($event)"
              #fileInput>
            <button (click)="fileInput.click()">Select File</button>
            <div id="selected_file">
              <div *ngIf="selectedFile">
                {{selectedFile.name}}
              </div>
              <div *ngIf="!selectedFile">
                선택된 파일 없음
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>


    <!--<input [(ngModel)]="time_zone" type="text"><br>-->

  <hr id="bottom-hr">
  <div id="bottom-buttons">
    <button id="back" (click)="back()">뒤로 가기</button>
    <button id="preview" (click)="preview()">미리 보기</button>
    <button id="confirm" (click)="confirm()">확인</button>
  </div>
</div>
