<div>
  <div>
    <button class="Clicked_tab" id="write-tab-button"(click)="view_write_tab()">Write</button>
    <button class="unClicked_tab" id="preview-tab-button"(click)="view_preview_tab()">Preview</button>
  </div>
  <hr>
  <div *ngIf="view_write">
    <label>제목</label><br>
    <input [(ngModel)]="title" type="text"><br>
    <label>아르바이트 종류</label><br>
    <input [(ngModel)]="arbeit_type" type="text"><br>
    <label>시급</label><br>
    <input [(ngModel)]="pay" type="text"><br>
    <label>지역</label><br>
    <input [(ngModel)]="region" type="text"><br>
    <label>내용</label><br>
    <input [(ngModel)]="content" type="text"><br>
    <label>담당자 이름</label><br>
    <input [(ngModel)]="manager_name" type="text"><br>
    <label>담당자 폰번호</label><br>
    <input [(ngModel)]="manager_phone" type="text"><br>
    <label>시간대</label><br>
    <!--<input [(ngModel)]="time_zone" type="text"><br>-->
  </div>
  <div *ngIf="!view_write">
    <label>제목</label>
    <h3>{{title}}</h3>
    <label>글쓴이</label>
    <!--<p id="article-author"> {{loginUserService.name}}</p> -->
    <label>아르바이트 종류</label>
    <p>{{arbeit_type}}</p>
    <label>시급</label>
    <p>{{pay}}원</p>
    <label>지역</label>
    <p>{{region}}</p>
    <label>내용</label>
    <p>{{content}}</p>
    <label>담당자 이름</label>
    <p>{{manager_name}}</p>
    <label>담당자 전화번호</label>
    <p>{{manager_phone}}</p>
    <label>시간대</label>
    <p>{{time_zone}}</p>

  </div>
  <div>
    <button (click)="back()">뒤로 가기</button>
    <button (click)="confirm()">확인</button>
  </div>
</div>
