.th {
    background-color: #e0e3eb;
    border-color: gray;
    border-style: double;
    text-align: center;
    font-size: 10pt;
}

.table { 
    table-layout : fixed;
}

.selected {
    background-color: #ff9900;
}
