<div *ngIf="isSelectable; then selectable; unselectable"></div>

<ng-template #selectable>
<dts-select-container [(selectedItems)]="selectedItems" [selectWithShortcut]="true"
  (itemSelected)="$event.selected = true" (itemDeselected)="$event.selected = false">
  <table width="40%" class="table table-sm table-responsive table-bordered">
      <thead>
        <tr height="20px">
          <th scope="col" class='th'></th>
          <ng-container *ngFor="let row_idx of this.timeblockService.row_index">
              <th class='th' scope="col">{{row_idx}}</th>
          </ng-container>
        </tr>
      </thead>
      <tbody>                  
        <tr height="20px" *ngFor="let col_idx of this.timeblockService.col_index; let y=index">
          <th class='th' scope="row">{{col_idx}}</th>
          <ng-container *ngFor="let row_idx of this.timeblockService.row_index; let x=index">
            <td [dtsSelectItem]="inputItems[x][y]"></td>
          </ng-container>
        </tr>
      </tbody>
  </table>
</dts-select-container>
</ng-template>


<ng-template #unselectable>

</ng-template>